services:
  n8n:
    image: n8nio/n8n
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      GENERIC_TIMEZONE: "Europe/Warsaw"
      TZ: "Europe/Warsaw"
      N8N_BASIC_AUTH_ACTIVE: "true"
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      - ollama
      - whisper
  
 
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    deploy: {}
    runtime: nvidia

  whisper:
    image: onerahmet/openai-whisper-asr-webservice:latest-gpu
    #GPU onerahmet/openai-whisper-asr-webservice:latest-gpu
    #CPU onerahmet/openai-whisper-asr-webservice:latest
    container_name: whisper
    ports:
      - "9000:9000"
    environment:
      - ASR_ENGINE=faster_whisper
      - ASR_MODEL=medium
    runtime: nvidia

volumes:
  n8n_data:
    external: true
  ollama_data:
